
<% @spots.each do |spot| %>
<div>
<%= cl_image_tag spot.default_image, height: 300, width: 400, crop: :fill %>
<%= link_to(spot.id, spot_path(spot))%>
<%= link_to('Edit', edit_spot_path(spot)) %>
<%= link_to spot_path(spot), method: :delete, data: { confirm: "Are you sure?" } do %>
    <i class="fa fa-trash destroy_dose"></i>
<% end %>
 </div>
 <br>
<% end %>


<h1>Cloud Test</h1>

<%= cl_image_tag("q39viy4zbc4owikrq1jh", width: 400, height: 300, crop: :fill) %>