
<% types = {
    0 => "Ledge",
    1 => "Rail",
    2 => "Stair set",
    3 => "Park",
    4 => "Transition",
    5 => "Manual pad"
}
%>

<div style="margin: 3rem auto; width: 50%; box-shadow:3px 3px 5px 6px #ccc; border-radius: 10px; padding: 20px; background-color: white;">

    <h3>Add a spot</h3>
    <%= simple_form_for(@spot) do |f| %>
        <%= f.input :spot_type, :collection => types.sort.map { |k,v| [v,k]}  %>
        <%= f.input :difficulty_rating %>
        <%= f.input :default_image, label: false, class: "btn btn-outline-dark" %>
        <%= f.input :default_image_cache, as: :hidden %>

        <%= simple_fields_for :no_model_fields do |n| %>
          <%= n.input :address, as: :hidden %>
          <!-- , id: "flat_address" -->
        <% end %>

        <div
          id="map"
          style="width: 100%;
          height: 200px;"
          data-markers="<%= @markers.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>

        <%= f.input :geo_lat, as: :hidden, class: "geo-lat" %>
        <%= f.input :geo_lng, as: :hidden, class: "geo-lng" %>

        <pre id='coordinates' class='coordinates'></pre>
        <br>
        <%= f.button :submit, class: "btn btn-primary"%>
    <% end %>



</div>



