<%= cl_image_tag @spot.default_image, height: 300, width: 400, crop: :fill %>
<p><%= @spot.spot_rating %></p>
<p><%= @spot.difficulty_rating %></p>

<ul>
  <li>
    <% @posts.each do |post| %>
      <%= post.description %>
    <% end %>
  </li>
</ul>

<%= simple_form_for [@spot, @post] do |f| %>
  <%= f.input :description %>
  <%= f.submit "Save", class: "btn btn-primary" %>
<% end %>
