<div class="card-product m-3" style="border-radius: 16px;">
<%= link_to spot do %>
     <div style="height: 200px; width: 300px; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
         url('<%= cl_image_path spot.default_image, :crop => :pad  %>');  background-position: center center; background-repeat: no-repeat; background-size: cover;">
    </div>
    <%end%>
    <div class="card-product-infos">
         <p>Address: <%= spot.geo_lat%> <%= spot.geo_lng%></p>
         <p>Address: <%= spot.address %></p>
         <p>Type: <%= spot.spot_type %></p>
         <p>Comments: <%= spot.posts.count %></p>
    </div>
</div>



