<div style="height: 60px;" class="navbar navbar-expand-sm navbar-light navbar-lewagon d-flex justify-content-between align-items-center">
  
  <div class="d-flex justify-content-between align-items-center">
  <%= link_to "/", class: "navbar-brand" do %>
     <%= cl_image_tag 'https://res.cloudinary.com/doe2rb42f/image/upload/v1556116874/skateit-logo_pb3rke.png', width: 100 %>
    <% end %>

    <%= simple_form_for :search, url: root_path, method: :get do |f| %>
  <div class="search-form-control form-group m-3 d-flex align-items-center">
    <input style="height: 3rem;" class="form-control string required" type="text" name="search[query]" id="search_query" />
    <button name="button" type="submit" class="btn btn-flat">
      <i style="" class="search-icon fas fa-search"></i>
    </button>
  </div>
  <% end %>
  </div>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <%= link_to "/spots/new", class: "navbar-brand" do %>
    <i class="add-icon fas fa-plus"></i>
    <% end %>
        </li>
        <li class="nav-item">
          <%= link_to "Favorites", "#", class: "nav-link" %>
        </li>
        <li class="nav-item dropdown">
           <% if user_signed_in? %>
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
              <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
        <% end %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Action", "#", class: "dropdown-item" %>
            <%= link_to "Another action", "#", class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
        
  
    </ul>
  </div>
</div>
