
<div class="container">

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/doe2rb42f/image/upload/v1556114302/skater_tbmtg7.png);  background-position: center center; background-repeat: no-repeat; background-size: cover;">
  <div class="container d-flex">
    <div>
    <h1>SKATE THE WORLD</h1>
    <div class="d-flex align-items-center">
    <h2 style="font-size: 25px; margin-bottom: 0 !important;" ><strong>CREATING SPOTS</h2>
      <%= link_to "/spots/new", class: "navbar-brand" do %>
    <% end %>
    </div>
    <div class="btn-medium-container">
    <a href="/spots/new" class="btn-medium">Create Spot</a>
    </div>
    </div>
    <%= cl_image_tag 'https://res.cloudinary.com/doe2rb42f/image/upload/v1556021369/skateit_ymnmqb.svg', height: 40, width: 100, crop: :fill, class: "logo"  %>
  </div>
</div>
<hr>
  <h3 style="color: #898989"><%=link_to "Ledges", :controller => "spots", :query => "ledge"%></h3>
  <div class="cards">
   <% @ledge_spots.each do |spot| %>
       
      <%= render 'shared/small-card', :spot => spot %> 

     <% end %>
  </div>
<hr>

   <h3 style="color: #898989" ><%=link_to "Rails", :controller => "spots", :query => "rail"%></h3>
<div class="cards">
   <% @rail_spots.each do |spot| %>
  
      <%= render 'shared/small-card', :spot => spot %> 

     <% end %>
  </div>
<hr>

   <h3 style="color: #898989" ><%=link_to "All spots", :controller => "spots"%></h3>
  <div class="cards">
   <% @spots.each do |spot| %>

      <%= render 'shared/small-card', :spot => spot %> 

     <% end %>
  </div>

</div>